body {
	background: url('http://1.bp.blogspot.com/-b2k-bQqusf4/VMKYO9ZLG2I/AAAAAAAAB3Q/M1oeEUK00sk/s1600/12168242.jpg');
	background-size: cover;
}

.header {
	display: inline-block;
	
}

/*.jumbotron {
	background-color: rgba(229, 218, 218, 0.5) !important;
	padding: 10px !important;
}*/

#about {
	background-color: rgba(252,231,111, 0.7);
	border-radius: 5px;
}

#about p {
	font-size: 16px;
}
.links {
	font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 79%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(242,234,234, 0.7);
  border-radius: 5px;
}

.footer div p {
	font-size: 16px;
}